.col{
    border: 0.5px solid black;
    height: 0.6em;
}

.row{
    border: 0.5px solid black;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

h2{
    font-size: 2em;
}

button{
    height: 2em;
}